/* regole base */
body {

}
.ms_wrapper-60 {
  max-width: 60%;
  margin: 0 auto;
}

/* regole generali */
h1 {
  font-size: 3.7em;
}

a {
  text-decoration: none;
  color: white;
}

.btn-green {
  background-color: #1abc9c;
  color: white;
}

.burger-icon {
  font-size: 1.2em;
  color: grey;
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 4px;
}

.ms_secondary .star-intro {
  color: #2c3e50;
}

/* divider bar */
.ms_divider {
  width: max-content;
  margin: 0 auto;
}

.ms_divider i {
  margin: 15px;
  font-size: 2.1em;
  /* color: #2c3e50; */
}

.ms_primary .ms_divider::before,
.ms_primary .ms_divider::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color:#fff;
  position: relative;
  top: -9px;
  border-radius: 4px;
}
.ms_secondary .ms_divider::before,
.ms_secondary .ms_divider::after {
  content: "";
  display: inline-block;
  width: 70px;
  height: 4px;
  background-color: #2c3e50;
  position: relative;
  top: -9px;
  border-radius: 4px;
}
/* fine divider bar */


/* section */
.ms_primary {
  background-color: #1abc9c;
  color: #fff;
}
.ms_secondary {
  background-color: white;
  color: black;
}
.ms_section {
  padding: 40px 0;
}
.ms_section .ms_intro {
  text-align: center;
  padding: 24px 0;
}


.ms_about-text {
  margin-bottom: 40px 0;
}
.ms_download-button {
  display: inline-block;
  border: 1px solid white;
  background-color: #1abc9c;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 1em;
}

/* regole base */


/* header */
.ms_navbar {
  background-color: #2c3e50;
  color: white;
  line-height: 60px;
  text-transform: uppercase;
}
.ms_navbar h2 {
  font-size: 1.4em;
}
.ms_intro h2 {
  font-size: 2.7em;
}
.ms_avatar img {
  max-height: 250px;
}

/* MAIN */

/* jumbotron */
.ms_jumbotron {
  text-transform: uppercase;
  padding: 32px 0;
  text-align: center;
}

/*portfolio */

.ms_item-portfolio img{
  max-height: 450px;
  width: 100%;
  margin-bottom: 30px;
  border-radius: 10px;
}

/* about */  /* IDEA: da valutare */
.ms_about-text{
  margin-bottom: 40px;
}

/* FINE MAIN */

/* footer */
/* media query */
@media screen and (min-width: 768px) {
  .ms_jumbotron {
    padding: 48px 0;
  }

}
